*{
    margin: 0%;
    padding: 0%;
     background-color: rgb(0, 23, 55);

    
}


.container{
    height: 100px;
    width: 100%;
    background-color: rgb(0, 23, 55);
   
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
img{
    height: 80px;
    width: 80px;
}
nav img{
    height: 100px;
    width: 100px;
 

}
nav ul{
    list-style: none;
    display: flex;

}
nav ul li{
    padding: 10px;

}
nav ul li a{
    font-size: 25px;
    color: rgba(243, 237, 237, 0.967);
    text-decoration: none;
    position: relative;
    font-weight: bold;
    
}
nav ul li a::after{
           content: "";
           height: 3px;
           background-color: rgb(218, 83, 83);
           width: 50%;
            position: absolute;
            left: 0;
            bottom: -8px;
            transition: .5s ease-in-out;


        }
nav ul li a:hover::after{
    width: 100%;
    
    

}
.icons{
    height: 70px;
    width: 150px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.icons a{
    height: 50px;
    width: 50px;
    color: rgb(0, 23, 55);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.icons a:nth-child(1){
    color: rgb(4, 73, 169);
}
.icons a:nth-child(2){
    color: rgb(7, 125, 44);
}
.icons a:nth-child(3){
    color: rgb(242, 245, 249);
}
/* hero section */

.hero-container{
    height: 400px;
    width: 100%;
    padding: 20px;
    background-color: rgb(0, 23, 55);
    display: flex;
    align-content: center;
    justify-content: space-around;
}
.profile-outer{
    height: 400px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.profile-outer img{
    height: 400px;
    width: 90%;
    display: flex;
    border-radius: 50px;
    

}




.profile-detail{
    height: 300px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
}
.profile-detail h1{
    width: 100%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
color:beige;
    padding: 0%;

}
.typing {
  font-size: 28px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid rgb(251, 248, 248);
  width: 0;
  animation: typing 8s steps(30) infinite;

}

.typing span::before {
  color:beige;
  content: "I am Frontend Developer";
  animation: changeText 8s infinite;
}

@keyframes typing {
  0%   { width: 0 }
  20%  { width: 27ch }
  40%  { width: 27ch }
  50%  { width: 0 }
  60%  { width: 0 }
  80%  { width: 26ch }
  100% { width: 26ch }
}
@keyframes changeText {
  0%,50% {
    content: "I am Frontend Developer";
  }
  51%,100% {
    content: "I am Backend Developer";
  }
}




.lineone{
    width: 0;
    overflow:hidden;
    white-space: nowrap;
}

#about h1{
    color:beige;
    text-align: center;
    font-size: 3rem;
    background-color: rgb(0, 23, 55);
}

#about hr{
    height: 5px;
    width: 60%;
    background-color:beige;
    margin: 0 auto;
    border-radius: 10px;
    border: none;

}
.about-text{
    width: 60%;
    color: white;
    flex-direction: column;
    display: flex;
    margin: 0 auto;
    font-weight: bold;

}
.about-text ul{
    color:beige;
    font-weight: bold;
    display: flex;
    gap: 15px;
    margin-left: 10px;
    font-size: 1.2rem;
    list-style: none;
   
}


.profile-detail span{
    font-weight: bold;
    color: beige;
}
#skill h1{
    color:beige;
    text-align: center;
    font-size: 3rem;
    background-color: rgb(0, 23, 55);
}

#skill hr{
    height: 5px;
    width: 60%;
    background-color: beige;
    margin: 0 auto;
    border-radius: 10px;
    border: none;

}
.skill-outer{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 20px;
    position: relative;



}

.box{
    height: 200px;
    /* width: 25%; */
   
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;


}
.box img{
    height: 100%;
    width: 100%;
    border-radius: 20px;

}
.skill-box :hover{
    transform: translatey(-7px);
}
#work h1{
    color:beige;
    text-align: center;
    font-size: 3rem;
    background-color: rgb(0, 23, 55);
}

#work hr{
    height: 5px;
    width: 60%;
    background-color:beige;
    margin: 0 auto;
    border-radius: 10px;
    border: none;

}


.workbox{
    height: 300px;
    width: 100%;
    background-color: rgb(0, 23, 55);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.workbox1{
    height: 250px;
    width: 200px;
   
    border-radius: 20px;
    
}
.workbox1 h3{
    color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.workbox1 p{
    margin: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.workbox2{
    height: 250px;
    width: 200px;
   
}
.workbox2 h3{
    color:  beige;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.workbox2 p{
    margin: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
.workbox3{
    height: 250px;
    width: 200px;
    
}
.workbox3 h3{
    color:  beige;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.workbox3 p{
    margin: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
#latest h1{
    color:beige;
    text-align: center;
    font-size: 3rem;
    background-color: rgb(0, 23, 55);
}

#latest hr{
    height: 5px;
    width: 60%;
    background-color:beige;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
}
.project{
    height: 300px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.projectbox1{
    height: 200px;
    width: 200px;
   
}
.projectbox1 img{
    height: 200px;
    width: 200px;
    border-radius: 20px;

}
.projectbox2{
    height: 200px;
    width: 200px;

   
}
.projectbox2 img{
    height: 200px;
    width: 200px;
    border-radius: 20px;

   
}
.projectbox3{
    height: 200px;
    width: 200px;
    
   
}

.typing1 {
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid rgb(251, 248, 248);
  width: 0;
  animation: typing 6s steps(30) infinite;
   display: flex;
  align-items: center;
  justify-content: center;

}

.typing1 span::before {
  color:beige;
  content: "working in digicoder.....";
  animation: changeText 8s infinite;
 
}

@keyframes typing {
  0%   { width: 0 }
  20%  { width: 27ch }
  40%  { width: 27ch }
 
}
@keyframes changeText {
  0%,50% {
    content: "working in digicode.....";
  }

}
#contact h1{
    color:beige;
    text-align: center;
    font-size: 3rem;
    background-color: rgb(0, 23, 55);
}

#contact hr{
    height: 5px;
    width: 60%;
    background-color: beige;
    margin: 0 auto;
    border-radius: 10px;
    border: none;

}

.contactbox{
    height: 300px;
    width: 100%;
    background-color: rgb(0, 23, 55);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.contactbox1{
    height: 250px;
    width: 200px;
}
.contactbox2{
    height: 250px;
    width: 200px;   
}
.contactbox1 p{
    margin: 10px;  
    color: aliceblue;
}


.contactbox2 form{
    color: aliceblue;
    height: 100%;
    width: 100%;
   

}

